/*
=============== 
Fonts
===============
*/
@import url("https://fonts.googleapis.com/css?family=Open+Sans|Roboto:400,700&display=swap");
#myBtn {
	display: none;
	position: fixed;
	bottom: 6px;
	right: 6px;
	z-index: 99;
	font-size: 18px;
	border: none;
	outline: none;
	background-color: red;
	color: white;
	cursor: pointer;
	padding: 13px;
	border-radius: 4px;
}
#myBtn:hover {
	background-color: #555;
}
